# R / RStudio
.Rhistory
.RData
.Rproj.user/
.Rproj
.Rstudio/
.Ruserdata

# Packages / user files
.Renviron
.Rhistory

# R Markdown caches
*_cache/
cache/
html_document/

# Data 
data/raw/*

# OS files
.DS_Store
Thumbs.db

